<div class="container jumbotron">
    <div class="form-group">
        <div class="dropdown">
            <label>Department</label><br>
            <select class="form-control">
                <option>Computer Science</option>
                <option>Mathematics</option>
                <option>Statistics</option>
                <option>Philosophy</option>
                <option>History</option>
                <option>Economics</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="dropdown">
            <label>Semester</label><br>
            <select class="form-control">
                <option>Semester 1</option>
                <option>Semester 2</option>
                <option>Semester 3</option>
                <option>Semester 4</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <a routerLink='pbpaper'><button class="btn btn-secondary form-control">Submit</button></a>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>

