<h2 class="head">University Of Calicut</h2>
<div>
    <h3 class="head">Pareeksha Bhavan</h3>
    <h4 class="head">View - Pareeksha Bhavan</h4>
</div>
<div class="logout">
    <a routerLink=''><button class="btn btn-danger">LogOut</button></a>
</div>

<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 head container">
        <div>
            <a routerLink='pbadd'><button class="btn btn-secondary">Add Department</button></a>
        </div>
        <br>
        <div>
            <a routerLink='pbpaper1'><button class="btn btn-secondary">Add Paper</button></a>
        </div>
    </div>
    <div class="col-sm-4">

    </div>
</div>
<br>

<!-- <div>
    <a routerLink='pbremove'><button>Remove Department</button></a>
</div>
<br> -->
<div>
    <router-outlet></router-outlet>
</div>