<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Course Code</th>
            <th scope="col">Course Title</th>
            <th scope="col">Credits</th>
            <th scope="col">Internal</th>
            <th scope="col">External</th>
            <th scope="col">Total</th>
            <th scope="col">Grade Point</th>
            <th scope="col">Letter Grade</th>
            <th scope="col">Credit Point</th>
          </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col">CS2C07</th>
            <th scope="col">DESIGN AND ANALYSIS OF ALGORITHMS</th>
            <th scope="col">4</th>
            <th scope="col">19</th>
            <th scope="col">61</th>
            <th scope="col">80</th>
            <th scope="col">8</th>
            <th scope="col">A+</th>
            <th scope="col">32</th>
        </tr>
        <tr>
            <th scope="col">CS2C08</th>
            <th scope="col">ADVANCED DATABASE MANAGEMENT SYSTEM</th>
            <th scope="col">4</th>
            <th scope="col">19</th>
            <th scope="col">56</th>
            <th scope="col">75</th>
            <th scope="col">7.5</th>
            <th scope="col">A</th>
            <th scope="col">30</th>
        </tr>
        <tr>
            <th scope="col">CS2C09</th>
            <th scope="col">OPERATING SYSTEM CONCEPTS</th>
            <th scope="col">4</th>
            <th scope="col">19</th>
            <th scope="col">65</th>
            <th scope="col">84</th>
            <th scope="col">8.4</th>
            <th scope="col">A+</th>
            <th scope="col">33.6</th>
        </tr>
        <tr>
            <th scope="col">CS2C10</th>
            <th scope="col">OBJECT ORIENTED PROGRAMMING WITH JAVA</th>
            <th scope="col">4</th>
            <th scope="col">19</th>
            <th scope="col">57</th>
            <th scope="col">76</th>
            <th scope="col">7.6</th>
            <th scope="col">A</th>
            <th scope="col">22.8</th>
        </tr>
        <tr>
            <th scope="col">CS2E01</th>
            <th scope="col">ARTIFICIAL INTELLIGENCE</th>
            <th scope="col">4</th>
            <th scope="col">19</th>
            <th scope="col">54</th>
            <th scope="col">73</th>
            <th scope="col">7.3</th>
            <th scope="col">A</th>
            <th scope="col">29.2</th>
        </tr>
        <tr>
            <th scope="col">CS2C11</th>
            <th scope="col">PRACTICAL 2</th>
            <th scope="col">3</th>
            <th scope="col">19</th>
            <th scope="col">60</th>
            <th scope="col">79</th>
            <th scope="col">7.9</th>
            <th scope="col">A</th>
            <th scope="col">23.7</th>
        </tr>
    </tbody>
</table>
<br>
<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-lg form-control">Print</button>
    </div>
    <div class="col-sm-4">

    </div>
</div>
