<div class="contianer">
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Reg No.</th>
                <th>Paper 1</th>
                <th>Paper 2</th>
                <th>Paper 3</th>
                <th>Paper 4</th>
                <th>Paper 5</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td><h5>CUATXX001</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
            <tr >
                <td><h5>CUATXX002</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
            <tr >
                <td><h5>CUATXX003</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
            <tr >
                <td><h5>CUATXX004</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
            <tr >
                <td><h5>CUATXX005</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
            <tr >
                <td><h5>CUATXX006</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
            <tr >
                <td><h5>CUATXX007</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
            <tr >
                <td><h5>CUATXX008</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
            <tr >
                <td><h5>CUATXX009</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
            <tr >
                <td><h5>CUATXX010</h5></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <button type="button" class="btn btn-primary btn-lg form-control">Upload Marks</button>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    
    <br>
</div>
</div>
